/* * { outline: 1px solid coral } */

@import "normalize.css";
@import "type.css";

:root {
   --content: #363636;
   /* --color: #ed2540; */
   --color: hsl(349, 82%, 55%);
   --highlight: hsl(0, 0%, 93%);
   --highlightCode: hsl(0, 0%, 90%);
   --background: hsl(0, 0%, 96%);
   --body: "CrimsonPro", sans-serif;
   --italic: "CrimsonProItalic";
   --mono: "IBM Plex Mono", monospace;
   --decorative: "Messapia", serif;
}
@media (prefers-color-scheme: dark) {
   :root {
      --content: white;
      --color: hsl(349, 82%, 55%);
      --highlight:     #272727;
      --highlightCode: #222222;
      --background:    #181818;
      --body: "CrimsonPro", sans-serif;
      --italic: "CrimsonProItalic";
      --mono: "IBM Plex Mono", monospace;
      --decorative: "Messapia", serif;
   }
}

body {
   background-color: var(--background);
   margin: 0;
}

hr {
   border: none;
   border-bottom: 1px solid var(--color);
   margin: 2rem 0;
}