/* * { outline: 1px solid coral } */

@import "normalize.css";
@import "type.css";

:root {
   --content: #363636;
   --color: #ed2540;
   --highlight: hsl(0, 0%, 93%);
   --highlightCode: hsl(0, 0%, 90%);
   --background: hsl(0, 0%, 96%);
   --body: "CrimsonPro", sans-serif;
   --italic: "CrimsonProItalic";
   --mono: "IBM Plex Mono", monospace;
   --decorative: "Messapia", serif;
}

/* :root {
   --content: white;
   --color: #ed2540;
   --subtle: #2e2e2e;
   --background: #202020;
} */

body {
   background-color: var(--background);
   margin: 0;
}

/* * { background-color: rgba(255,0,0,.15); }
* * { background-color: rgba(0,255,0,.15); }
* * * { background-color: rgba(0,0,255,.15); }
* * * * { background-color: rgba(255,0,255,.15); }
* * * * * { background-color: rgba(0,255,255,.15); }
* * * * * * { background-color: rgba(255,255,0,.15); }
* * * * * * * { background-color: rgba(255,0,0,.15); }
* * * * * * * * { background-color: rgba(0,255,0,.15); }
* * * * * * * * * { background-color: rgba(0,0,255,.15); } */