.home_projects_container {
   padding: 1rem;
   margin-top: 2rem;
   margin-left: 20vw;
   display: grid;
   grid-template-columns: 50rem;
   grid-template-rows: repeat(auto-fit, minmax(20rem, 1fr));
   grid-gap: 5rem 1rem;
}

@media (max-width: 65rem) {
   .home_projects_container {
      grid-template-columns: auto-fit, minmax(20rem, 1fr);
   }
}

@media (max-height: 45rem) {
   .home_projects_container { grid-gap: 4rem 1rem }
}

@media (max-width: 26rem) {
   .home_projects_container {
      padding: 0;
   }
}


.project_image { height: calc(60vh - 8rem) }

@media (min-height: 65vw) {
   .project_image {
      height: auto;
      width: 80%;
   }
}

