.home_projects_container {
   /* box-model: w, h, border, padding, margin */
   /* border: 1px solid red; */
   padding: 1rem;
   margin-top: 2rem;
   /* display */
   display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, calc((100vw - 5rem)/2)));
      grid-template-rows: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 5rem 1rem;
   
   /* style */  /* typography */  /* animation */    
}

@media (max-width: 65rem) {
   .home_projects_container {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   }
}

@media (max-height: 45rem) {
   .home_projects_container {
      grid-gap: 4rem 1rem;
   }
}

@media (max-width: 26rem) {
   .home_projects_container {
      padding: 0;
   }
}


.project_image {
   height: calc(60vh - 8rem);
   /* max-width: 80% */
   /* margin: 5rem 10% 2rem 10%; */
}

@media (min-height: 65vw) {
   .project_image {
      height: auto;
         /* max-height: 20vw; */
      width: 80%;
   }
}

