.post div {
   padding: 1rem 0;

   .title {
      display: inline;
      margin: 1rem 0;
   }
   
   svg ~ .title {
      margin: 1rem 0 1rem 1rem;
   }

   .excerpt {
      margin: 1rem 0;
   }

   .ttr {
      margin: 1rem 0;
      opacity: 0.5;
   }
}