.home_individual_project_container {
   height: 55vh;
   min-height: 25rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.visual {
   display: flex;
   flex-grow: 1;
   justify-content: space-around;
   align-items: center;
}

.content {
   height: 4rem;
      min-height: 0;
}

@media (max-width: 30rem) {
   .content {
      height: auto;
   }
}

.title {
   margin: 0;
   font-size: 2rem;
   text-align: center;
   opacity: 0;
   transition-duration: 100ms;
}

.content p {
   margin: 0;
   text-align: center;
}


.home_individual_project_container:hover .title {
   opacity: 1;
   color: var(--content);
}

@media (hover: none) {
   .title {
      opacity: 1;
   }
}