.tokamaki_st01{fill:#24D8EA;}
.tokamaki_st02{fill:#F91515;}
.tokamaki_st03{fill:#F800FF;}
.tokamaki_st04{fill:#BBFF00;}
.tokamaki_st05{fill:#2949F4;}
.tokamaki_st06{fill:#FF9700;}
.tokamaki_st07{fill:#B86EFF;}
.tokamaki_st08{fill:#4DDD1D;}
.tokamaki_st09{fill:#FFF312;}
