.thin_sidebar {
	width: 2rem;
	height: 100vh;
	
	position: fixed;
		top: 0px;
		z-index: 2;
	
	display: flex;
		flex-direction: column;
		justify-content: space-between;
	
	background-color: var(--subtle);
}

.thin_sidebar h2 {
	margin-top: 2rem;
	margin-left: 0.25rem;
	
	color: var(--content);
	cursor: pointer;
	
	font-weight: 400;
	font-size: 1.25rem;
	letter-spacing: 0.0625rem;
}
.vertical_text {
   transform: translate(0%, 0%) rotate(-180deg);
   writing-mode: vertical-rl;
}

.sidebar_icons {
	margin-bottom: 2rem;

	display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
}


.sidebar_icons svg:hover { fill: var(--color) }


@media screen and (max-height: 28rem) {
   .thin_sidebar {
      height: 2rem;
      width: 100vw;
   }
   .thin_sidebar h2 {
		margin-top: 0.2rem;
      margin-left: 0;
		
      text-align: center;
   }
   .vertical_text {
      transform: none;
      writing-mode: lr;
   }
}

@media screen and (max-height: 28rem) and (max-width: 28rem) {
   .thin_sidebar {
		flex-direction: row;
      justify-content: center;
   }
   .thin_sidebar h2 {
      width: 11rem;
   }
   .sidebar_icons {
		width: 14rem;
		margin-bottom: 0;
      flex-direction: row;
   }
}

@media (max-width: 25rem) and (max-height: 28rem) {
	.sidebar_icons {
		display: none;
	}
}

@media screen and (max-height: 28rem) and (min-width: 28rem) {
   .thin_sidebar {
      flex-direction: row;
   }
   .thin_sidebar h2 {
		width: 11rem;
      margin-left: 1rem;
   }
   .sidebar_icons {
		width: 14rem;
		margin-right: 1rem;
			margin-bottom: 0;
			margin-left: auto;

		flex-direction: row;
   }
}
